.container {
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  gap: 8px;
}

.button {
  color: black;
  padding: 8px;
  cursor: pointer;
}
.buttonActive {
  background: green;
}
.buttonInactive {
  background: inherit;
}